/*
	Main css styles for the website. Some specific styles can be
	set in other .css files
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:200,400);
@import url(http://fonts.googleapis.com/css?family=Lobster);

html{
	height: 100%;
}

body {
	background-image: url(../images/texture.png);
	text-align: center;
	min-height: 100%;
	color: #666;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
  	font-weight: 300;
}

h2{
	color: #396673;
	font-weight: bold;
}

p {
	font-family: 'Raleway', sans-serif;
}

hr{
	border: 1px dashed #aaa;
}


/*----------------------------------------------------------*/
/*	Defining the optional margin-top for the jumbotron		*/
/*	The style is used depending on the browser width  		*/
/*----------------------------------------------------------*/

@media (max-width: 767px){
	.jumbotron h2{
		font-size: 180%;
	}
}



/*----------------------------------------------------------*/
/*	Defining the optional margin-top for the jumbotron		*/
/*	The style is used depending on the browser width  		*/
/*----------------------------------------------------------*/
@media (max-width: 767px){
	.extra-margin{
		margin-top: 20px;
	}
}

@media (min-width: 768px){
	.extra-margin{
		margin-top: 50px;
	}
}

@media (min-width: 992px){
	.extra-margin{
		margin-top: 80px;
	}
}

@media (min-width: 1200px){
	.extra-margin{
		margin-top: 100px;
	}
}


@media (min-width: 1600px){
	.extra-margin{
		margin-top: 200px;
	}
}





/*----------------------------------------------------------*/
/*	Defining the optional height and logo/navbar size		*/
/*	When the navbar is colapsed the container is downsized	*/
/*----------------------------------------------------------*/
.navbar-brand{
		font-weight: bold;
		font-family: 'Lobster', cursive;
		font-size: 250%;
	}

@media (max-width: 767px){
	.navbar-brand{
		font-size: 180%;
	}
}

@media (min-width: 768px){
	.navbar-brand{
		height: 60px;
		line-height: 30px;
	}
}






/*----------------------------------------------------------*/
/*	Defining the optional margins for full content pages	*/
/*----------------------------------------------------------*/


.full-page-content{
	text-align: left;
	background-color: #eee;
	min-height: 100%;
	min-width: 100%;
	width: auto%;
	z-index: -1;
	border: 1px solid #666;
	border-top: 0px;
	padding: 50px;
	padding-top: 20px;
	font-size: 130%;
}




@media (max-width: 767px){
	.full-page-content{
		padding: 15px;
	}
}


/*----------------------------------------------------------*/

.full-page-content > h1{
	color: #396673;
	font-weight: bold;
}

.full-page-content > h2{
	color: #666;
	font-weight: normal;
	border-bottom: 2px dashed #aaa;
}

.full-page-content  h3{
	color: #396673;
	font-weight: normal;
}

.full-page-content > p{
	text-indent: 15px;
}


.jumbotron h1{
	color: #555;
	font-family: 'Lobster', cursive;
}

.network-buttons > ul{
	padding-right: 40px;
	margin: 30px 0px;
}

.network-buttons > ul > li {
 	display: inline-block;
	zoom: 1;
	*display: inline;
}

.navbar-static-top {
	margin-bottom: 0px;
	box-shadow: 0 0 50px rgba(0,0,0,.50);
}


.navbar-nav > li > a{
	height: 60px;
	font-size: 160%;
	line-height: 30px;
}




.floreio{
	margin-bottom: 20px;
}


.ongoing{
	color: #FF8800;
}


.authors{
	font-style:italic
}

.full-page-content > img{
	padding: 20px 100px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
